<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascript Design Pattern</title>
    <link href="~/Models/chosen.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Models/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Models/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Models/jquery.chosen.js"></script>
</head>
<body>
    <div id="div"></div>    
    <a href="#">one</a><br />
    <a href="#">two</a><br />
    <a href="#">three</a><br />
    <a href="#">four</a><br />
    <a href="#">five</a><br />
    <br><input type="button" name="ajax" value="Cache" />


    
    <script type="text/javascript" src="~/Models/JavaScript_DesignParttern.js"></script>
    @*<script type="text/javascript" src="~/Models/MVC.js"></script>*@


</body>
</html>
