<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascript Design Pattern</title>
</head>
<body>
    <div id="div"></div>    
    <a href="#">one</a><br />
    <a href="#">two</a><br />
    <a href="#">three</a><br />
    <a href="#">four</a><br />
    <a href="#">five</a><br />
    
    <script type="text/javascript" src="~/Models/JavaScript_DesignParttern.js"></script>
</body>
</html>
