<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascript Design Pattern</title>
    <link href="~/Models/chosen.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Models/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Models/jquery.chosen.js"></script>
</head>
<body>
    <div id="div"></div>    
    <a href="#">one</a><br />
    <a href="#">two</a><br />
    <a href="#">three</a><br />
    <a href="#">four</a><br />
    <a href="#">five</a><br />&gt;

    <select id="ddListCustomer">
        <option value="" selected="selected">请选择</option>
        <option value="1">INOVIT Shanghai Co. Ltd  __ 123465</option>
        <option value="1904">Home Cars __ 123465</option>
        <option value="1906">天天公司</option>
    </select><br>



    <br><input type="button" name="ajax" value="Cache" />


    
    @*<script type="text/javascript" src="~/Models/JavaScript_DesignParttern.js"></script>*@
    @*<script type="text/javascript" src="~/Models/MVC.js"></script>*@


    <script type="text/javascript">

        $(function()
        {
            $("#ddListCustomer").chosen().change("",function(data){
                var index = $("a.chzn-single>span").html().indexOf("__");
                if(index>-1)
                    $("a.chzn-single>span").html($("a.chzn-single>span").html().substring(0,index))
            });
            $("#ddListCustomer").on("change",function()
            {
                console.log($("a.chzn-single>span").size());
                console.log($("a.chzn-single>span").html());
            });
        })

    </script>

</body>
</html>
